<h2>Login With Auth0</h2>
<button {{action 'twitter'}}><i class="icon-twitter-sign"></i>Login With Twitter</button>
<button {{action 'gmail'}}><i class="icon-google-plus-sign"></i>Login With Gmail</button>