{{App.UserInfo.name}}
<h1>Auth0 Login</h1>
<button {{action 'twitter'}}><i class="icon-twitter-sign"></i>Login With Twitter</button>
<button {{action 'gmail'}}><i class="icon-google-plus-sign"></i>Login With Gmail</button>